In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Review_db.csv")

In [3]:
print(df.head())

                City            Place  \
0  Aamby Valley City  19 Degree North
1  Aamby Valley City  19 Degree North
2  Aamby Valley City  19 Degree North
3  Aamby Valley City  19 Degree North
4  Aamby Valley City  19 Degree North

                                              Review  Rating       Name  Date  \
0  aamby valley beautiful place clear blue skies ...       5  Anonymous   NaN
1  executed obt akshay thanx team thoroughly enjo...       4  Anonymous   NaN
2  awesome experience atv tracts obstacles mainta...       5  Anonymous   NaN
3  visited aamby valley yesterday short excursion...       4  Anonymous   NaN
4  far mumbai place finest adventure places visit...       5  Anonymous   NaN

                                          Raw_Review
0  Aamby valley is a beautiful place with its cle...
1  Very well executed obt by Akshay.... Thanx as ...
2  Awesome experience at the ATV\nTracts and obst...
3  we visited the Aamby Valley yesterday for shor...
4  Not far from Mumbai, this place is one of the ...

In [4]:
df.drop(columns = ['Date'], inplace=True)

In [5]:
df.drop(columns=['Name'], inplace=True)

In [6]:
print(df.columns)
df.to_csv("cleansed_data.csv")

Index(['City', 'Place', 'Review', 'Rating', 'Raw_Review'], dtype='object')

In [7]:
df = pd.read_csv("cleansed_data.csv")

In [8]:
df = df.assign(sentiment=0.00)

In [9]:
print(df.columns)

Index(['Unnamed: 0', 'City', 'Place', 'Review', 'Rating', 'Raw_Review',
       'sentiment'],
      dtype='object')

In [ ]:
# for row in df.itertuples():
#     print(row)

In [10]:
print(df.head())

   Unnamed: 0               City            Place  \
0           0  Aamby Valley City  19 Degree North
1           1  Aamby Valley City  19 Degree North
2           2  Aamby Valley City  19 Degree North
3           3  Aamby Valley City  19 Degree North
4           4  Aamby Valley City  19 Degree North

                                              Review  Rating  \
0  aamby valley beautiful place clear blue skies ...       5
1  executed obt akshay thanx team thoroughly enjo...       4
2  awesome experience atv tracts obstacles mainta...       5
3  visited aamby valley yesterday short excursion...       4
4  far mumbai place finest adventure places visit...       5

                                          Raw_Review  sentiment
0  Aamby valley is a beautiful place with its cle...        0.0
1  Very well executed obt by Akshay.... Thanx as ...        0.0
2  Awesome experience at the ATV\nTracts and obst...        0.0
3  we visited the Aamby Valley yesterday for shor...        0.0
4  Not far from Mumbai, this place is one of the ...        0.0

In [12]:
from pattern.en import sentiment

for i in range(0,len(df)-1):
    x = (str(sentiment(df.at[i,'Raw_Review'])))
    s = ""
    count=0
    flag = False
    for j in x:
        if(flag):
            count=count+1
        if(j==',' or count == 3):
            break
        elif(j!='('):
            s=s+j
        
        if(j == '.'):
            flag=True

    df.at[i,'sentiment'] = float(s)


# for i in range (4,len(df)):
#     df.at[i,'sentiment'] = 0.0
# for i in range(0,5):
#     print(df.at[i,'Review'])
#     print('\n')
    # df.at[i,'sentiment'] = sentiment(df.at[i,'Review'])
# print(len(df))
# print(sentiment("NLP is hard."))

In [13]:
df.to_csv("cleansed_data.csv")

In [14]:
for i in range(len(df)-10,len(df)-1):
    print(df.at[i,'sentiment'])

0.06
-0.07
0.12
0.25
0.25
0.0
0.26
0.39
0.67